In [ ]:
import pandas as pd
import numpy as np
import sklearn
from sklearn import model_selection
import seaborn as sns

#### 1: (1,2), (2,4), (3,6),(8,9),(1,10),(14,3), (9,0), (10,0),.....

   create 20 dataset in above structure and divide in 3 group

In [ ]:
import random
list1 = [tuple([random.randint(0,10) for j in range(2)]) for i in range(20)]
print(list1)

[(7, 0), (1, 3), (6, 0), (3, 0), (0, 9), (3, 10), (4, 5), (0, 8), (0, 9), (0, 1), (8, 10), (0, 9), (3, 3), (9, 4), (6, 2), (1, 5), (7, 5), (3, 5), (6, 6), (8, 4)]

In [ ]:
c1 = tuple([random.randint(0,10) for j in range(2)])
c2 = tuple([random.randint(0,10) for j in range(2)])
c3 = tuple([random.randint(0,10) for j in range(2)])
c1,c2,c3

((6, 6), (8, 1), (5, 8))

In [ ]:
dataset1 = pd.DataFrame(0, index=np.arange(0,20), columns=["points","c1","c2","c3","category"])
dataset1["points"] = list1

In [ ]:
dataset1

     points  c1  c2  c3  category
0    (7, 0)   0   0   0         0
1    (1, 3)   0   0   0         0
2    (6, 0)   0   0   0         0
3    (3, 0)   0   0   0         0
4    (0, 9)   0   0   0         0
5   (3, 10)   0   0   0         0
6    (4, 5)   0   0   0         0
7    (0, 8)   0   0   0         0
8    (0, 9)   0   0   0         0
9    (0, 1)   0   0   0         0
10  (8, 10)   0   0   0         0
11   (0, 9)   0   0   0         0
12   (3, 3)   0   0   0         0
13   (9, 4)   0   0   0         0
14   (6, 2)   0   0   0         0
15   (1, 5)   0   0   0         0
16   (7, 5)   0   0   0         0
17   (3, 5)   0   0   0         0
18   (6, 6)   0   0   0         0
19   (8, 4)   0   0   0         0

In [ ]:
dict1 = {'c1': c1,'c2': c2,'c3': c3 }
dict1

{'c1': (6, 6), 'c2': (8, 1), 'c3': (5, 8)}

In [ ]:
# dist_cal = lambda p1,p2: ((p1[0]-p2[0])**2 + (p1[1]-p2[1])**2)**(1/2) 
# for i in range(len(dataset1)):
#   dataset1.loc[i,"c1"] = dist_cal(dataset1.loc[i,"points"],dict1["c1"])
#   dataset1.loc[i,"c2"] = dist_cal(dataset1.loc[i,"points"],dict1["c2"])
#   dataset1.loc[i,"c3"] = dist_cal(dataset1.loc[i,"points"],dict1["c3"])

In [ ]:
def get_dataset(data,dict1): 
  dist_cal = lambda p1,p2: ((p1[0]-p2[0])**2 + (p1[1]-p2[1])**2)**(1/2) 
  for i in dict1.keys():
    for j in range(len(data)):
      data.loc[j,i] = dist_cal(data.loc[j,"points"],dict1[i])
  return data

In [ ]:
def mean_pts(list_pt):
  ls1, ls2 = [], []
  for i in list_pt:
   ls1.append(i[0])
   ls2.append(i[1])
  a = sum(ls1)/len(ls1)
  b = sum(ls2)/len(ls2)
  return (a,b)

In [ ]:
dataset1 = get_dataset(dataset1,dict1)

In [ ]:
# Reference: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.min.html
dataset1["category"] = dataset1[["c1","c2","c3"]].idxmin(axis=1)
dataset1

     points        c1         c2        c3 category
0    (7, 0)  6.082763   1.414214  8.246211       c2
1    (1, 3)  5.830952   7.280110  6.403124       c1
2    (6, 0)  6.000000   2.236068  8.062258       c2
3    (3, 0)  6.708204   5.099020  8.246211       c2
4    (0, 9)  6.708204  11.313708  5.099020       c3
5   (3, 10)  5.000000  10.295630  2.828427       c3
6    (4, 5)  2.236068   5.656854  3.162278       c1
7    (0, 8)  6.324555  10.630146  5.000000       c3
8    (0, 9)  6.708204  11.313708  5.099020       c3
9    (0, 1)  7.810250   8.000000  8.602325       c1
10  (8, 10)  4.472136   9.000000  3.605551       c3
11   (0, 9)  6.708204  11.313708  5.099020       c3
12   (3, 3)  4.242641   5.385165  5.385165       c1
13   (9, 4)  3.605551   3.162278  5.656854       c2
14   (6, 2)  4.000000   2.236068  6.082763       c2
15   (1, 5)  5.099020   8.062258  5.000000       c3
16   (7, 5)  1.414214   4.123106  3.605551       c1
17   (3, 5)  3.162278   6.403124  3.605551       c1
18   (6, 6)  0.000000   5.385165  2.236068       c1
19   (8, 4)  2.828427   3.000000  5.000000       c1

In [ ]:
dataset1.category.value_counts()

c1    8
c3    7
c2    5
Name: category, dtype: int64

In [ ]:
dict2 = dict()
for i in dataset1.category.value_counts().index:
 dict2[i] = dataset1.category.value_counts()[i]
print(dict2)

{'c1': 8, 'c3': 7, 'c2': 5}

In [ ]:
num = True
while num:
  if abs(dict2['c1']-dict2['c2'])<=1 and abs(dict2['c1']-dict2['c3'])<=1 and abs(dict2['c2']-dict2['c3'])<=1:
    num = False
  else:
    for i in dataset1['category'].unique():
      dict1[i] = mean_pts(dataset1[dataset1['category']==i].points.values)
    # print(dict1)
    dataset1 = get_dataset(dataset1,dict1)
    dataset1["category"] = dataset1[["c1","c2","c3"]].idxmin(axis=1)
    print(dataset1)
    dict2 = dict()
    for i in dataset1.category.value_counts().index:
     dict2[i] = dataset1.category.value_counts()[i]
    print(dict2)

     points        c1        c2         c3 category
0    (7, 0)  5.000000  1.442221  10.070162       c2
1    (1, 3)  3.162278  5.502727   5.617030       c1
2    (6, 0)  4.472136  1.216553   9.583148       c2
3    (3, 0)  4.123106  3.417601   8.667321       c2
4    (0, 9)  6.403124  9.963935   1.767045       c3
5   (3, 10)  6.082763  9.363760   1.921946       c3
6    (4, 5)  1.000000  4.390900   4.240235       c1
7    (0, 8)  5.656854  9.202174   1.807016       c3
8    (0, 9)  6.403124  9.963935   1.767045       c3
9    (0, 1)  5.000000  6.203225   7.763073       c1
10  (8, 10)  7.211103  8.982205   6.446008       c3
11   (0, 9)  6.403124  9.963935   1.767045       c3
12   (3, 3)  1.414214  3.671512   5.717856       c1
13   (9, 4)  5.000000  3.959798   8.601139       c2
14   (6, 2)  2.828427  0.824621   7.845446       c2
15   (1, 5)  3.162278  6.440497   3.642157       c1
16   (7, 5)  3.162278  3.883298   6.379175       c1
17   (3, 5)  1.414214  4.967897   3.795809       c1
18   (6, 6)  2.828427  4.804165   4.997959       c1
19   (8, 4)  4.000000  3.328663   7.772269       c2
{'c1': 8, 'c2': 6, 'c3': 6}
     points        c1        c2         c3 category
0    (7, 0)  5.659616  1.740051  10.522463       c2
1    (1, 3)  2.404423  5.659309   6.222718       c1
2    (6, 0)  5.028046  1.740051  10.069205       c2
3    (3, 0)  4.126894  3.876568   9.240611       c2
4    (0, 9)  5.790617  9.799376   1.840894       c3
5   (3, 10)  5.876330  9.038498   1.433721       c3
6    (4, 5)  1.237437  4.166667   4.696334       c1
7    (0, 8)  4.978077  9.075302   2.173067       c3
8    (0, 9)  5.790617  9.799376   1.840894       c3
9    (0, 1)  4.419417  6.534099   8.369920       c1
10  (8, 10)  7.634216  8.467257   6.222718       c3
11   (0, 9)  5.790617  9.799376   1.840894       c3
12   (3, 3)  1.131923  3.745368   6.276057       c1
13   (9, 4)  5.876330  3.419714   8.834906       c2
14   (6, 2)  3.575087  0.600925   8.289887       c2
15   (1, 5)  2.298097  6.431260   4.249183       c1
16   (7, 5)  3.972562  3.370625   6.637436       c2
17   (3, 5)  0.883883  4.833333   4.326918       c1
18   (6, 6)  3.432383  4.362084   5.233439       c1
19   (8, 4)  4.876602  2.773886   8.045012       c2
{'c1': 7, 'c2': 7, 'c3': 6}

In [ ]:
dataset1

     points        c1        c2         c3 category
0    (7, 0)  5.659616  1.740051  10.522463       c2
1    (1, 3)  2.404423  5.659309   6.222718       c1
2    (6, 0)  5.028046  1.740051  10.069205       c2
3    (3, 0)  4.126894  3.876568   9.240611       c2
4    (0, 9)  5.790617  9.799376   1.840894       c3
5   (3, 10)  5.876330  9.038498   1.433721       c3
6    (4, 5)  1.237437  4.166667   4.696334       c1
7    (0, 8)  4.978077  9.075302   2.173067       c3
8    (0, 9)  5.790617  9.799376   1.840894       c3
9    (0, 1)  4.419417  6.534099   8.369920       c1
10  (8, 10)  7.634216  8.467257   6.222718       c3
11   (0, 9)  5.790617  9.799376   1.840894       c3
12   (3, 3)  1.131923  3.745368   6.276057       c1
13   (9, 4)  5.876330  3.419714   8.834906       c2
14   (6, 2)  3.575087  0.600925   8.289887       c2
15   (1, 5)  2.298097  6.431260   4.249183       c1
16   (7, 5)  3.972562  3.370625   6.637436       c2
17   (3, 5)  0.883883  4.833333   4.326918       c1
18   (6, 6)  3.432383  4.362084   5.233439       c1
19   (8, 4)  4.876602  2.773886   8.045012       c2

In [ ]:
dataset1

     points        c1        c2         c3 category
0    (7, 0)  5.659616  1.740051  10.522463       c2
1    (1, 3)  2.404423  5.659309   6.222718       c1
2    (6, 0)  5.028046  1.740051  10.069205       c2
3    (3, 0)  4.126894  3.876568   9.240611       c2
4    (0, 9)  5.790617  9.799376   1.840894       c3
5   (3, 10)  5.876330  9.038498   1.433721       c3
6    (4, 5)  1.237437  4.166667   4.696334       c1
7    (0, 8)  4.978077  9.075302   2.173067       c3
8    (0, 9)  5.790617  9.799376   1.840894       c3
9    (0, 1)  4.419417  6.534099   8.369920       c1
10  (8, 10)  7.634216  8.467257   6.222718       c3
11   (0, 9)  5.790617  9.799376   1.840894       c3
12   (3, 3)  1.131923  3.745368   6.276057       c1
13   (9, 4)  5.876330  3.419714   8.834906       c2
14   (6, 2)  3.575087  0.600925   8.289887       c2
15   (1, 5)  2.298097  6.431260   4.249183       c1
16   (7, 5)  3.972562  3.370625   6.637436       c2
17   (3, 5)  0.883883  4.833333   4.326918       c1
18   (6, 6)  3.432383  4.362084   5.233439       c1
19   (8, 4)  4.876602  2.773886   8.045012       c2

In [ ]:
dataset1.category.value_counts()

c1    7
c2    7
c3    6
Name: category, dtype: int64

In [ ]:

# for i in dataset1['category'].unique():
#  dict1[i] = mean_pts(dataset1[dataset1['category']==i].points.values)
# dict1

#### 2: (1,2,4), (2,4,7), (3,6,9),(8,9,10),(1,3,10),(1,4,3), (9,0,12), (1,10,0),......

  create 20 dataset in above structure and divide in 2 group

In [ ]:
import random
list2 = [tuple([random.randint(0,10) for j in range(3)]) for i in range(20)]
print(list2)
c1 = tuple([random.randint(0,10) for j in range(3)])
c2 = tuple([random.randint(0,10) for j in range(3)])
dataset2 = pd.DataFrame(0, index=np.arange(0,20), columns=["points","c1","c2","category"])
dataset2["points"] = list2

[(10, 8, 9), (4, 10, 4), (9, 0, 1), (9, 7, 0), (9, 4, 9), (10, 0, 5), (1, 5, 10), (8, 10, 4), (0, 6, 7), (3, 9, 7), (8, 10, 5), (3, 8, 2), (9, 6, 5), (7, 10, 4), (2, 1, 8), (10, 5, 3), (5, 1, 7), (3, 1, 9), (3, 8, 7), (10, 7, 2)]

In [ ]:
dataset2

        points  c1  c2  category
0   (10, 8, 9)   0   0         0
1   (4, 10, 4)   0   0         0
2    (9, 0, 1)   0   0         0
3    (9, 7, 0)   0   0         0
4    (9, 4, 9)   0   0         0
5   (10, 0, 5)   0   0         0
6   (1, 5, 10)   0   0         0
7   (8, 10, 4)   0   0         0
8    (0, 6, 7)   0   0         0
9    (3, 9, 7)   0   0         0
10  (8, 10, 5)   0   0         0
11   (3, 8, 2)   0   0         0
12   (9, 6, 5)   0   0         0
13  (7, 10, 4)   0   0         0
14   (2, 1, 8)   0   0         0
15  (10, 5, 3)   0   0         0
16   (5, 1, 7)   0   0         0
17   (3, 1, 9)   0   0         0
18   (3, 8, 7)   0   0         0
19  (10, 7, 2)   0   0         0

In [ ]:
dict1 = {'c1': c1,'c2': c2}
def get_dataset_pts(data,dict1): 
  dist_cal = lambda p1,p2: ((p1[0]-p2[0])**2 + (p1[1]-p2[1])**2 + (p1[2]-p2[2])**2)**(1/2) 
  for i in dict1.keys():
    for j in range(len(data)):
      data.loc[j,i] = dist_cal(data.loc[j,"points"],dict1[i])
  return data
def mean_pts1(list_pt):
  ls1, ls2, ls3 = [], [], []
  for i in list_pt:
    ls1.append(i[0])
    ls2.append(i[1])
    ls3.append(i[2])
  a = sum(ls1)/len(ls1)
  b = sum(ls2)/len(ls2)
  c = sum(ls3)/len(ls3)
  return (a,b,c)

In [ ]:
dataset2 = get_dataset_pts(dataset2,dict1)
dataset2["category"] = dataset2[["c1","c2"]].idxmin(axis=1)
# dataset2
dict2 = dict()
for i in dataset2.category.value_counts().index:
 dict2[i] = dataset2.category.value_counts()[i]
print(dict2)

{'c1': 16, 'c2': 4}

In [ ]:
num = True
while num:
  if abs(dict2['c1']-dict2['c2'])<=1:
    num = False
  else:
    for i in dataset2['category'].unique():
      dict1[i] = mean_pts1(dataset2[dataset1['category']==i].points.values)
    # print(dict1)
    dataset2 = get_dataset_pts(dataset2,dict1)
    dataset2["category"] = dataset2[["c1","c2"]].idxmin(axis=1)
    print(dataset2)
    dict2 = dict()
    for i in dataset2.category.value_counts().index:
     dict2[i] = dataset2.category.value_counts()[i]
    print(dict2)

        points        c1        c2 category
0   (10, 8, 9)  6.122891  6.114553       c2
1   (4, 10, 4)  4.494895  6.195785       c1
2    (9, 0, 1)  9.345958  6.149498       c2
3    (9, 7, 0)  7.759129  5.164636       c2
4    (9, 4, 9)  5.495824  4.909383       c2
5   (10, 0, 5)  8.336054  5.525451       c2
6   (1, 5, 10)  5.310752  8.508099       c1
7   (8, 10, 4)  5.521757  5.192223       c2
8    (0, 6, 7)  4.757379  7.943679       c1
9    (3, 9, 7)  3.260775  6.586938       c1
10  (8, 10, 5)  5.160683  5.205962       c1
11   (3, 8, 2)  5.048742  5.948761       c1
12   (9, 6, 5)  4.526566  2.025350       c2
13  (7, 10, 4)  4.991830  5.178448       c1
14   (2, 1, 8)  6.146179  7.556589       c1
15  (10, 5, 3)  6.430159  2.945075       c2
16   (5, 1, 7)  5.324184  5.233331       c2
17   (3, 1, 9)  6.122891  7.442295       c1
18   (3, 8, 7)  2.490799  6.008497       c1
19  (10, 7, 2)  6.932620  4.135461       c2
{'c1': 10, 'c2': 10}

In [ ]:
dataset2.category.value_counts()

c1    10
c2    10
Name: category, dtype: int64

In [ ]:
dataset2

        points        c1        c2 category
0   (10, 8, 9)  6.122891  6.114553       c2
1   (4, 10, 4)  4.494895  6.195785       c1
2    (9, 0, 1)  9.345958  6.149498       c2
3    (9, 7, 0)  7.759129  5.164636       c2
4    (9, 4, 9)  5.495824  4.909383       c2
5   (10, 0, 5)  8.336054  5.525451       c2
6   (1, 5, 10)  5.310752  8.508099       c1
7   (8, 10, 4)  5.521757  5.192223       c2
8    (0, 6, 7)  4.757379  7.943679       c1
9    (3, 9, 7)  3.260775  6.586938       c1
10  (8, 10, 5)  5.160683  5.205962       c1
11   (3, 8, 2)  5.048742  5.948761       c1
12   (9, 6, 5)  4.526566  2.025350       c2
13  (7, 10, 4)  4.991830  5.178448       c1
14   (2, 1, 8)  6.146179  7.556589       c1
15  (10, 5, 3)  6.430159  2.945075       c2
16   (5, 1, 7)  5.324184  5.233331       c2
17   (3, 1, 9)  6.122891  7.442295       c1
18   (3, 8, 7)  2.490799  6.008497       c1
19  (10, 7, 2)  6.932620  4.135461       c2

#### 3: Apply a random-forest classifier and regression in your data with all preprocessing steps.

Random forest classifier

In [ ]:
import pandas as pd
import numpy as np
import sklearn
from sklearn import model_selection

In [ ]:
garments_dataset = pd.read_csv('https://raw.githubusercontent.com/shivshaktisahoo/test/main/garments_worker_productivity.csv')
garments_dataset

           date   quarter  ... no_of_workers actual_productivity
0      1/1/2015  Quarter1  ...          59.0            0.940725
1      1/1/2015  Quarter1  ...           8.0            0.886500
2      1/1/2015  Quarter1  ...          30.5            0.800570
3      1/1/2015  Quarter1  ...          30.5            0.800570
4      1/1/2015  Quarter1  ...          56.0            0.800382
...         ...       ...  ...           ...                 ...
1192  3/11/2015  Quarter2  ...           8.0            0.628333
1193  3/11/2015  Quarter2  ...           8.0            0.625625
1194  3/11/2015  Quarter2  ...           8.0            0.625625
1195  3/11/2015  Quarter2  ...          15.0            0.505889
1196  3/11/2015  Quarter2  ...           6.0            0.394722

[1197 rows x 15 columns]

In [ ]:
## Preprocessing /////////////////

garments_dataset['wip'] = garments_dataset['wip'].fillna(0)
garments_dataset['quarter'] = garments_dataset['quarter'].map({'Quarter1':1, 'Quarter2':2, 'Quarter3':3, 'Quarter4':4, 'Quarter5':5})
for i in range(len(garments_dataset)):
  garments_dataset['department'][i] = garments_dataset['department'][i].strip()
garments_dataset['department'] = garments_dataset['department'].map({'sweing':1, 'finishing':0})
garments_dataset['day'] = garments_dataset['day'].map({'Saturday':1, 'Sunday':2, 'Monday':3, 'Tuesday':4, 'Wednesday':5,'Thursday':6})
var1 = garments_dataset['actual_productivity']
for i in enumerate(var1):
  if (var1[i[0]]>0 and var1[i[0]]<=0.4):
    var1[i[0]] = 1     # 1 represents low productivity
  elif (var1[i[0]]>0.4 and var1[i[0]]<=0.75):
    var1[i[0]] = 2     # 2 represents medim productivity
  else:
    var1[i[0]] = 3     # 3 represents high productivity

garments_corr = garments_dataset.drop(['date'], axis=1).corr()
# garments_corr

# relationship between attribute and targeted column with minimum threshold
MIN_THRES = 0.05
garments_final_attr = []
for i in garments_corr.drop(['actual_productivity'],axis=1):
  if abs(garments_corr[i]['actual_productivity']) >= MIN_THRES:
      garments_final_attr.append(i)
# print(garments_final_attr)

# relationship between attribute and attribute with maximum threshold
MAX_THRES = 0.85
list1 = list(garments_corr.columns)
max_final_attr = []
for i in enumerate(list1):
  for j in list1[i[0]+1:]:
    if abs(garments_corr[i[1]][j]) >= MAX_THRES:
      # print(abs(garments_corr[i[1]][j]),i[1],j)
      max_final_attr.append(i[1])
print(max_final_attr)

['department', 'department', 'smv']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

In [ ]:
X = garments_dataset.drop(['date','actual_productivity','department', 'smv'], axis=1)
Y = garments_dataset['actual_productivity']
x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(X,Y,test_size=0.1)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(random_state=0)
clf.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [ ]:
clf.score(x_test,y_test)

0.7916666666666666

In [ ]:
prediction = clf.predict_proba(np.array([1,	6,	8,	0.80,	118.0,	7080,	98,	0.0,	0,	0,	59.0]).reshape(1,-1))[0]
predicted_target = np.argmax(prediction)
predicted_percentage = round(np.max(prediction)*100,2)
classify = ['low productivity','medium productivity','high productivity']
print(f"Their is {predicted_percentage}% chance of target {predicted_target} ==> {classify[predicted_target-1]} ")

Their is 89.0% chance of target 2 ==> medium productivity

Random forest Regressor

In [ ]:
garments_dataset = pd.read_csv('https://raw.githubusercontent.com/shivshaktisahoo/test/main/garments_worker_productivity.csv')
garments_dataset

           date   quarter  ... no_of_workers actual_productivity
0      1/1/2015  Quarter1  ...          59.0            0.940725
1      1/1/2015  Quarter1  ...           8.0            0.886500
2      1/1/2015  Quarter1  ...          30.5            0.800570
3      1/1/2015  Quarter1  ...          30.5            0.800570
4      1/1/2015  Quarter1  ...          56.0            0.800382
...         ...       ...  ...           ...                 ...
1192  3/11/2015  Quarter2  ...           8.0            0.628333
1193  3/11/2015  Quarter2  ...           8.0            0.625625
1194  3/11/2015  Quarter2  ...           8.0            0.625625
1195  3/11/2015  Quarter2  ...          15.0            0.505889
1196  3/11/2015  Quarter2  ...           6.0            0.394722

[1197 rows x 15 columns]

In [ ]:
## preprocessing /////////////////
garments_dataset['wip'] = garments_dataset['wip'].fillna(0)
garments_dataset['quarter'] = garments_dataset['quarter'].map({'Quarter1':1, 'Quarter2':2, 'Quarter3':3, 'Quarter4':4, 'Quarter5':5})
for i in range(len(garments_dataset)):
  garments_dataset['department'][i] = garments_dataset['department'][i].strip()
garments_dataset['department'] = garments_dataset['department'].map({'sweing':1, 'finishing':0})
garments_dataset['day'] = garments_dataset['day'].map({'Saturday':1, 'Sunday':2, 'Monday':3, 'Tuesday':4, 'Wednesday':5,'Thursday':6})

garments_corr = garments_dataset.drop(['date'], axis=1).corr()
# garments_corr

# relationship between attribute and targeted column with minimum threshold
MIN_THRES = 0.05
garments_final_attr = []
for i in garments_corr.drop(['actual_productivity'],axis=1):
  if abs(garments_corr[i]['actual_productivity']) >= MIN_THRES:
      garments_final_attr.append(i)
print(garments_final_attr)

# relationship between attribute and attribute with maximum threshold
MAX_THRES = 0.85
list1 = list(garments_corr.columns)
max_final_attr = []
for i in enumerate(list1):
  for j in list1[i[0]+1:]:
    if abs(garments_corr[i[1]][j]) >= MAX_THRES:
      # print(abs(garments_corr[i[1]][j]),i[1],j)
      max_final_attr.append(i[1])
print(max_final_attr)

['quarter', 'department', 'team', 'targeted_productivity', 'smv', 'over_time', 'incentive', 'idle_time', 'idle_men', 'no_of_style_change', 'no_of_workers']
['department', 'department', 'smv']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
X = garments_dataset.drop(['date','actual_productivity','department', 'smv'], axis=1)
Y = garments_dataset['actual_productivity']
x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(X,Y,test_size=0.1)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
clf = RandomForestRegressor(random_state=0)
clf.fit(x_train,y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=0, verbose=0, warm_start=False)

In [ ]:
clf.score(x_test,y_test)

0.610746055431796

In [ ]:
prediction = clf.predict(np.array([1,	6,	8,	0.80,	118.0,	7080,	98,	0.0,	0,	0,	59.0]).reshape(1,-1))[0]
prediction

0.9176066615679426